<div class="bg-[#F9FAFB]  flex flex-row p-40">

    <div class="flex flex-col items-start p-10">
        <h1 class="text-3xl pb-10">Registrate en <span class="font-bold">agapea.com</span></h1>
        <p class="text-lg text-gray-600 mb-4">Registrate en agapea.com y disfruta de todos sus beneficios y comodidades.
        </p>
        <button (click)="irARegistro()"
            class="bg-[#00679f] w-1/2 py-1 rounded-md text-white font-bold cursor-pointer hover:bg-[#181196]">Registrate</button>
        <div class="flex flex-col items-end mt-4">
            <p class="text-lg text-gray-600 mb-6"><span class="font-bold">Crea tus propias listas de libros</span> ( <a
                    href="">Consulta informacion</a>)</p>
            <img src="../../../../assets/images/imagen-login.png">
        </div>
    </div>

    <div class="h-max bg-white shadow-xl  flex flex-col items-center p-10">
        <h1 class="text-xl font-bold text-start pb-10">Identificate con:</h1>
        <div class="flex gap-4">
            <button type="button"
                class="w-full flex items-center justify-center mb-6 md:mb-0 border border-gray-300 hover:border-gray-900 hover:bg-gray-900 text-sm text-gray-500 p-3  rounded-lg tracking-wide font-medium  cursor-pointer transition ease-in duration-500">
                <svg class="w-4 mr-2" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                    <path fill="#EA4335"
                        d="M5.266 9.765A7.077 7.077 0 0 1 12 4.909c1.69 0 3.218.6 4.418 1.582L19.91 3C17.782 1.145 15.055 0 12 0 7.27 0 3.198 2.698 1.24 6.65l4.026 3.115Z" />
                    <path fill="#34A853"
                        d="M16.04 18.013c-1.09.703-2.474 1.078-4.04 1.078a7.077 7.077 0 0 1-6.723-4.823l-4.04 3.067A11.965 11.965 0 0 0 12 24c2.933 0 5.735-1.043 7.834-3l-3.793-2.987Z" />
                    <path fill="#4A90E2"
                        d="M19.834 21c2.195-2.048 3.62-5.096 3.62-9 0-.71-.109-1.473-.272-2.182H12v4.637h6.436c-.317 1.559-1.17 2.766-2.395 3.558L19.834 21Z" />
                    <path fill="#FBBC05"
                        d="M5.277 14.268A7.12 7.12 0 0 1 4.909 12c0-.782.125-1.533.357-2.235L1.24 6.65A11.934 11.934 0 0 0 0 12c0 1.92.445 3.73 1.237 5.335l4.04-3.067Z" />
                </svg>
                <!-- <svg class="w-4" fill="#fff" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M11.99 13.9v-3.72h9.36c.14.63.25 1.22.25 2.05 0 5.71-3.83 9.77-9.6 9.77-5.52 0-10-4.48-10-10S6.48 2 12 2c2.7 0 4.96.99 6.69 2.61l-2.84 2.76c-.72-.68-1.98-1.48-3.85-1.48-3.31 0-6.01 2.75-6.01 6.12s2.7 6.12 6.01 6.12c3.83 0 5.24-2.65 5.5-4.22h-5.51v-.01Z"></path></svg> -->
                <span>Google</span>
            </button>
            <button type="button"
                class="w-full flex items-center justify-center mb-6 md:mb-0 border border-gray-300 hover:border-gray-900 hover:bg-gray-900 text-sm text-gray-500 p-3  rounded-lg tracking-wide font-medium  cursor-pointer transition ease-in duration-500 px-">
                <svg class="w-4 mr-2" viewBox="0 0 100 100" style="enable-background:new 0 0 100 100"
                    xml:space="preserve" xmlns="http://www.w3.org/2000/svg">

                    <g id="Layer_1" />
                    <g id="Layer_2">
                        <path d="M50 2.5c-58.892 1.725-64.898 84.363-7.46 95h14.92c57.451-10.647 51.419-93.281-7.46-95z"
                            style="fill:#1877f2" />
                        <path
                            d="M57.46 64.104h11.125l2.117-13.814H57.46v-8.965c0-3.779 1.85-7.463 7.781-7.463h6.021V22.101c-12.894-2.323-28.385-1.616-28.722 17.66V50.29H30.417v13.814H42.54V97.5h14.92V64.104z"
                            style="fill:#f1f1f1" />
                    </g>
                </svg>
                <!-- <svg class="w-4" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path fill="#fff" fill-rule="evenodd" d="M9.945 22v-8.834H7V9.485h2.945V6.54c0-3.043 1.926-4.54 4.64-4.54 1.3 0 2.418.097 2.744.14v3.18h-1.883c-1.476 0-1.82.703-1.82 1.732v2.433h3.68l-.736 3.68h-2.944L13.685 22"></path></svg> -->
                <span>Facebook</span>
            </button>
        </div>

        <div class="p-10 flex flex-col gap-4 text-sm">
            <form #loginForm="ngForm" (ngSubmit)="LoginCliente(loginForm)">
                <div>
                    <label class="text-gray-600 font-bold inline-block pb-2" for="email">Email</label>
                    <input class="border border-gray-400 focus:outline-slate-400 rounded-md w-full shadow-sm px-5 py-2"
                        type="email" name="email" placeholder="mehedi@jaman.com" [(ngModel)]="credenciales.email" #email="ngModel"  required>
                        <span *ngIf="email.errors?.['required']" class="text-red-600 text-xs"  >Email obligatorio</span>     
                </div>
                <div>
                    <label class="text-gray-600 font-bold inline-block pb-2" for="password">Contraseña</label>
                    <input class="border border-gray-400 focus:outline-slate-400 rounded-md w-full shadow-sm px-5 py-2"
                        type="password" name="password" placeholder="******" [(ngModel)]="credenciales.password" #password="ngModel" required>
                    <span *ngIf="password.errors?.['required']" class="text-red-600 text-xs"  >Contraseña obligatoria</span>    
                </div>
                <div>
                    <a class="text-gray-400 underline" href="">¿Olvidaste la contraaseña ?</a>
                </div>
                <div>
                    <button
                        class="bg-[#00679f] w-full py-2 rounded-md text-white font-bold cursor-pointer hover:bg-[#181196]"
                        type="submit">Identificate</button>
                </div>
                <p class="text-sm text-gray-500">Al identificarte, aceptas nuestras <a href="#"
                        class="text-[#4F46E5] font-bold">Condiciones de uso</a> y</p>
                <p class="text-sm text-gray-500"> nuestras <a href="#" class="text-[#4F46E5] font-bold">Condiciones de
                        cookies.</a> y</p>
            </form>
        </div>



    </div>

</div>