<div class="container pt-5">
    <div class="row">

        <div class="col-7 pt-3">
            <h2>Registrate en <strong>agapea.com</strong></h2>
            <p>Regístrate en agapea.com y disfruta de todos sus beneficios y comodidades.</p>

            <div class="m-4">
                <a class="btn btn-primary btn-lg" [routerLink]="['/Cliente/Registro']" routerLinkActive="router-link-active" >Registrate</a>
            </div>

            <p class="mt-4"><b>Crea tus propias listas de libros</b> (<a href="">Consultar información</a>)</p>

            <div class="d-flex justify-content-center mt-5">
                <img src="../../../assets/images/imagen-login.png" />
            </div>           
        </div>

        <div class="col-5 bg-light p-4 border">
            <form #loginform="ngForm" (ngSubmit)="LoginCliente(loginform)">
                <h4>Identifícate con:</h4>

                <p>Usuario de <img src="../../../assets/images/agapea-logo.svg" alt="" width="123" height="60"></p>

                <div class="form-floating m-1">
                    <input class="form-control"
                            type="email" 
                            name="email" 
                            placeholder="mehedi@jaman.com"
                            [(ngModel)]="credenciales.email"
                            #email="ngModel"
                            required maxlength="200" minlength="10" 
                            appEmailfilterdomain [dominiosvalidos]="['msn','gmail','hotmail','yahoo','bloheyz']"
                            appCheckemailexists
                    />
                    <label class="form-label" for="email">Email</label>

                    <div *ngIf="email.touched && email.errors?.['required']" ><span class="text-danger">* Email obligatorio</span></div>
                    <div *ngIf="email.touched && email.errors?.['maxlength']" ><span class="text-danger">* Max.numero caracteres 200</span></div>
                    <div *ngIf="email.touched && email.errors?.['minlength']" ><span class="text-danger">* Min.numero caracteres 6</span></div>
                    <div *ngIf="email.touched && email.errors?.['pattern']" ><span class="text-danger">* Formato de email invalido</span></div>
                    <div *ngIf="email.touched && email.errors?.['emailfilterdoms']" ><span class="text-danger">* no se permite ese dominio</span></div>
                    <div *ngIf="email.touched && email.errors?.['emailexiste']" ><span class="text-danger">* Email no esta registrado</span></div>
                </div>

                <div class="form-floating m-1">
                    <input class="form-control" 
                            type="password" 
                            name="password" 
                            placeholder="******"
                            [(ngModel)]="credenciales.password"
                            #password="ngModel"
                            required maxlength="150" minlength="6" >
                    <label class="form-label" for="password">Contraseña</label>

                    <div *ngIf="password.touched && password.errors?.['required']"  ><span class="text-danger">* Contraseña obligatoria</span></div>
                    <div *ngIf="password.touched && password.errors?.['maxlength']" ><span class="text-danger">* Max.numero caracteres 150</span></div>
                    <div *ngIf="password.touched && password.errors?.['minlength']" ><span class="text-danger">* Min.numero caracteres 6</span></div>
                    <div *ngIf="password.touched && password.errors?.['pattern']"   ><span class="text-danger">* Formato invalido al menos MAYS,MINS,digito y caracter raro</span></div>        
                </div>

                <div class="mt-2">
                    <a href=""><small class="text-mutted">¿Has olvidado tu contraseña?</small></a>
                </div>
                <div>
                    <button class="m-4 btn btn-lg btn-primary" type="submit" [disabled]="loginform.status!=='VALID'"> Identificate</button>
                </div>
                <div class="ml-1">
                    <p class="text-muted">Al identificarte, aceptas nuestras <a class="text-muted" href="">Condiciones de uso, y nuestras condiciones de cookies</a></p>
                </div>
            </form>
        </div>
    </div>
</div>
