<div class="container">
    <div class="row">
        <div class="col">
            <h3><strong>Registro realizado correctamente</strong> en <img src="/images/agapea-logo.svg" width="186px" height="85px" /></h3>
            <p>Para completar el proceso de activacion de su cuenta, acceda al enlace incluido en el EMAIL que el acabamos de enviar.</p>
            <p>Si no lo recibe, compruebe en su carpeta de SPAM o Correo no deseado.</p>
    </div>
</div>
<button class="btn btn-primary btn-lg">IR A INICIO DE SESION</button>